In [81]:
people = {
    'first': ['Vivek', 'Ankit', 'Ronak'],
    'last': ['Poddar', 'Poddar', 'Kumar'],
    'email': ['vivek@gmail.com', 'ankit@gmail.com', 'ronak@gmail.com']
}

In [83]:
import pandas as pd

In [85]:
df = pd.DataFrame(people) # creating a dataframe from dictionary

In [87]:
df

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [89]:
'''
Usually, index in df are integers 0 ... n
But we can change the index if we want, we can make specific column values as index which will disinguisly
identifies the rows
'''
df.set_index('email') # it will not change the original df

                 first    last
email
vivek@gmail.com  Vivek  Poddar
ankit@gmail.com  Ankit  Poddar
ronak@gmail.com  Ronak   Kumar

In [91]:
df

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [93]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [95]:
df.set_index('email', inplace = True) # to change the original df, we have to use inplace = True attribute
df

                 first    last
email
vivek@gmail.com  Vivek  Poddar
ankit@gmail.com  Ankit  Poddar
ronak@gmail.com  Ronak   Kumar

In [97]:
df.index

Index(['vivek@gmail.com', 'ankit@gmail.com', 'ronak@gmail.com'], dtype='object', name='email')

In [99]:
df.reset_index(inplace=True) # to reset the index
df

             email  first    last
0  vivek@gmail.com  Vivek  Poddar
1  ankit@gmail.com  Ankit  Poddar
2  ronak@gmail.com  Ronak   Kumar