### Filtering

In [1]:
people = {
    'first': ['Vivek', 'Ankit', 'Ronak'],
    'last': ['Poddar', 'Poddar', 'Kumar'],
    'email': ['vivek@gmail.com', 'ankit@gmail.com', 'ronak@gmail.com']
}

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [7]:
df

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [13]:
df['last'] == 'Poddar'

0     True
1     True
2    False
Name: last, dtype: bool

In [15]:
df[df['last'] == 'Poddar']

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com

In [23]:
# filtering multiple rows 
# & (AND) , | (OR) can be used to merge two or more filter statements
filt = (df['first'] == 'Vivek') | (df['last'] == 'Poddar')
df.loc[filt]

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com

In [25]:
filt = df['email'].str.contains('k@')
df.loc[filt]

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
2  Ronak   Kumar  ronak@gmail.com