Updating column name

In [1]:
people = {
    'first': ['Vivek', 'Ankit', 'Ronak'],
    'last': ['Poddar', 'Poddar', 'Kumar'],
    'email': ['vivek@gmail.com', 'ankit@gmail.com', 'ronak@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [4]:
# if you want to change/ rename all the columns
df.columns = ['first_name', 'last_name', 'email']
df

  first_name last_name            email
0      Vivek    Poddar  vivek@gmail.com
1      Ankit    Poddar  ankit@gmail.com
2      Ronak     Kumar  ronak@gmail.com

In [5]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME            EMAIL
0      Vivek    Poddar  vivek@gmail.com
1      Ankit    Poddar  ankit@gmail.com
2      Ronak     Kumar  ronak@gmail.com

In [6]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME            EMAIL
0      Vivek    Poddar  vivek@gmail.com
1      Ankit    Poddar  ankit@gmail.com
2      Ronak     Kumar  ronak@gmail.com

In [7]:
# for renaming specific columns
df.rename(columns = {'FIRST NAME' : 'first', 'LAST NAME': 'last', 'EMAIL': 'email'}, inplace=True)
df

   first    last            email
0  Vivek  Poddar  vivek@gmail.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

updating values

In [8]:
# updating all the values of a row
df.loc[0] = ['Bittu', 'Kumar', 'bittu@email.com']
df

   first    last            email
0  Bittu   Kumar  bittu@email.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [9]:
# updating multiple values of a row
df.loc[0, ['first', 'last']] = ['Vivek', 'Poddar']
df

   first    last            email
0  Vivek  Poddar  bittu@email.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [10]:
# updating specific values of a row
df.loc[0, 'email'] = 'vivek@email.com'
df

   first    last            email
0  Vivek  Poddar  vivek@email.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com

In [11]:
df['email'].apply(len)

0    15
1    15
2    15
Name: email, dtype: int64

In [12]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [13]:
df.applymap(len)

C:\Users\vivek\AppData\Local\Temp\ipykernel_10148\1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      5     6     15
1      5     6     15
2      5     5     15

In [14]:
df['email'].apply(min)

0    .
1    .
2    .
Name: email, dtype: object

In [34]:
df['first'].apply(max)

0    v
1    t
2    o
Name: first, dtype: object

In [36]:
df

   first    last            email
0  Vivek  Poddar  vivek@email.com
1  Ankit  Poddar  ankit@gmail.com
2  Ronak   Kumar  ronak@gmail.com